@font-face {
  font-family: 'AktivGroteskCorp-Bold';
  src: url('./font/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'), url('./font/AktivGroteskCorp-Bold.woff') format('woff'), url('./font/AktivGroteskCorp-Bold.ttf') format('truetype'), url('./font/AktivGroteskCorp-Bold.svg#AktivGroteskCorp-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGroteskCorp-Light';
  src: url('./font/AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'), url('./font/AktivGroteskCorp-Light.woff') format('woff'), url('./font/AktivGroteskCorp-Light.ttf') format('truetype'), url('./font/AktivGroteskCorp-Light.svg#AktivGroteskCorp-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AktivGroteskCorp-Regular';
  src: url('./font/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'), url('./font/AktivGroteskCorp-Regular.woff') format('woff'), url('./font/AktivGroteskCorp-Regular.ttf') format('truetype'), url('./font/AktivGroteskCorp-Regular.svg#AktivGroteskCorp-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(240, 137, 69);
  margin-left: 170px;
  margin-top: 60px;
  margin-right: 170px;
  margin-bottom: 0px;
  
  
  color: wheat;
}

/* grid-template-rows: 200px 700px 420px 1240px 440px 600px 830px 80px; */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px 700px 420px 1240px 440px 600px 830px 80px;
  grid-gap: 40px;
  grid-template-areas: "h h h h h h h h h h h h" "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1" "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2" "c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3" "c4 c4 c4 c4 c4 c4 c4 c4 c4 c4 c4 c4" "c5 c5 c5 c5 c5 c5 c5 c5 c5 c5 c5 c5" "c6 c6 c6 c6 c6 c6 c6 c6 c6 c6 c6 c6" "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
  font-family: 'AktivGroteskCorp-Light';
  font-size: 17pt;
  font-style: normal;
  
}

.cont-1 {
  grid-area: c1;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.cont-2 {
  grid-area: c2;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.cont-3 {
  grid-area: c3;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.cont-4 {
  grid-area: c4;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.cont-5 {
  grid-area: c5;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.cont-6 {
  grid-area: c6;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.footer {
  grid-area: f;
  background-color: tomato;
  border: brown solid 2px;
  border-radius: 10px;
}

.logo {
  float: left;
}

.menu {
  background-color: lawngreen;
  float: left;
}

.menu li {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 14pt;
  font-weight: bold;
}

ul {
  list-style-type: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  
}