
@font-face {
  font-family: 'AktivGroteskCorp-Bold';
  src: url('AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),  url('AktivGroteskCorp-Bold.woff') format('woff'), url('AktivGroteskCorp-Bold.ttf')  format('truetype'), url('AktivGroteskCorp-Bold.svg#AktivGroteskCorp-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
