section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: justify;
  height: 100%;
}

.team-member {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 3%;
}

img {
  height: 100%;
}

.userpic-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name-title-wrapper {
  display: flex;
  flex-direction: column;
}

img:hover {
  box-shadow: 0 0 10px #4da6ff;
}
