
@font-face {
  font-family: 'AktivGroteskCorp-Regular';
  src: url('AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),  url('AktivGroteskCorp-Regular.woff') format('woff'), url('AktivGroteskCorp-Regular.ttf')  format('truetype'), url('AktivGroteskCorp-Regular.svg#AktivGroteskCorp-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
